<div class="container-fluid bg-light py-4">
  {{!-- Portofolio --}}
  <div class="row">
    <div id="portfolio" class="portfolio clearfix my-4 mx-auto">
      {{#each model as |profile|}}
        <article class="item {{profile.selector}}">
          <div class="background bg-white">

            <div class="image">
              {{#link-to "partidos.partido" profile.id}}
                <img alt={{profile.codigo}} src={{profile.logo}}>
              {{/link-to}}
            </div>

            <div class="text">
              <h6>{{profile.nombreCorto}}</h6>
            </div>

          </div>
        </article>
      {{/each}}
    </div>
  </div>
</div>
